<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program 3 </title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="../angular.min.js"></script>
</head>

<body ng-app="myApp">
    <h1>Angular JS Calculator Application </h1>

    <div ng-controller="myController">
        <label> Enter 1st number : </label>
        <input type="number" ng-model="num1" placeholder="00000000">
        <br><br>
        <label> Select an Operator : </label>
        <select ng-model="op">
            <option value="+"> Addition </option>
            <option value="-"> Sub </option>
            <option value="*"> Multiply </option>
            <option value="/"> Divide </option>
        </select>
        <br><br>
        <label> Enter 2nd number : </label>
        <input type="number" ng-model="num2" placeholder="00000000">

        <button ng-click="compute()"> Compute </button>

        <h2> RESULT : {{num1+" "+op+" "+num2+" = "+result}}</h2>

    </div>
</body>
<script>
    var app = angular.module("myApp", []);
    app.controller("myController", function ($scope) {
        $scope.compute = function () {
            if (!$scope.num1) {
                alert("Please enter the first number.... ")
            }
            else if (!$scope.num2) {
                alert("Please enter the second number....");
            }
            else if (!$scope.op) {
                alert("Select operator to perfrom operation.... ");
            } else {
                switch ($scope.op) {
                    case "+": $scope.result = parseFloat($scope.num1 + $scope.num2).toFixed(3);
                        break;
                    case "-": $scope.result = parseFloat($scope.num1 - $scope.num2).toFixed(3);
                        break;
                    case "*": $scope.result = parseFloat($scope.num1 * $scope.num2).toFixed(3);
                        break;
                    case "/": if ($scope.num2 == 0) {
                        alert("Second number cannot be Zero!!");
                    } else {
                        $scope.result = parseFloat($scope.num1 / $scope.num2).toFixed(3);
                    }
                        break;
                }
            }
        }
    }); 
</script>

</html>